body {
	background: black;
	font-size: 18px;
	font-family: "Handlee", cursive;
}

.postcard {
	background: white;
	width: 450px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 15px;
}

h1 {
	font-size: 30px;
}

.postcard h1 {
	margin: 0;
}

.body-left {
	float: left;
	width: 50%;
}

.body-right {
	float: right;
	width: 50%;
}

.body-right input {
	display: block;
}

input {
	font-size: 18px;
}

.postcard-header img {
	max-width: 60px;
	float: right;
}

.postcard-header {
	overflow: hidden;
}

.postcard-body {
	overflow: hidden;
}

.postcard-footer input[type="submit"] {
	border-bottom: 1px solid gray;
	background: lightgray;
	border: none;
	font-family: "Handlee", cursive;
}

.postcard-footer {
	padding: 10px;
	text-align: center;
}

.postcard-body input[type="text"] {
	border-bottom: gray;
	border: none;
	font-family: "Handlee", cursive;
	width: 210px;
	margin-bottom: 10px;
	padding: 5px;
}
