.postcard {
	background-color: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
}

.postcard-body {
	display: flex;
	justify-content: center;
	text-align: justify;
}

.body-left p:first-child {
	padding: 8px;
}

.body-right {
	padding: 20px;
	float: right;
}

input {
	font-size: 18px;
	border: none;
	border-bottom: grey;
}

.postcard-footer {
	text-align: center;
}

button {
	display: flexbox;
	align-items: center;
	justify-content: center;
	margin: auto;
}
